* {
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

html {
    font-size: 10px;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwfL2FX0i7i5O4b3wDpy4NoXfIuHO3rLpYg4ZvvtapA&s=10') bottom center;
}


.keys {

}