* {
    margin:0;
    padding: 0;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2016/11/19/13/57/drum-set-1839383_1280.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}